# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
env/
venv/
ENV/
.venv/
env.bak/

# Output, logs, test_exports, data directories
output/
logs/
test_export/
data/
backups/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
WORKPLACE.code-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Other
*.log
*.tmp
*.bak

# Ignore Directories currently being restructured
docs/